<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<!-- HTML to show a table of all the blogs in the DB, will aslo include a nav bar at the top to take you to the new blog page. -->

<head>
<title>Index Page</title>
</head>
    <body>

    <p><a class="navbar-brand" th:href="@{/newblog}">New Blog</a></p>
    <p><a class="navbar-brand" th:href="@{/login}">Log Out</a></p>

        <h3>Blogs.</h3>

    <form action="#" th:action="@{/filter/category}" th:object="${blog}" method="post">
        <p>Filter by category:</p>
        <select id="catSelect" name="catSelect" th:field="*{category}">
            <option value="All">All</option>
            <option value="Hobbies">Hobbies</option>
            <option value="Cars">Cars</option>
            <option value="Day to day">Day to day</option>
        </select>
        <p><input type="submit" value="Search" /> </p>
    </form>



    <table border="1">
            <thead>
            <tr>
                <th th:width="60px">ID</th>
                <th th:width="150px">Title</th>
                <th th:width="150px">Username</th>
                <th th:width="150px">Category</th>
                <th th:width="150px">Edit</th>
                <th th:width="150px">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="blog : ${blogs}">
                <td>
                    <p th:text="${blog.id}"></p>
                </td>

                <td>
                    <p th:text="${blog.title}"></p>
                </td>
                <td>
                    <p th:text="${blog.username}"></p>
                </td>
                <td>
                    <p th:text="${blog.category}"></p>
                </td>
                <td>
                    <a href="#" th:href="@{/edit/blog/}+${blog.id}" class="pull-right">Edit</a>
                </td>
                <td>
                    <a href="#" th:href="@{/delete/blog/}+${blog.id}" class="pull-right">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

    </body>
</html>
