<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/create/blog}" th:object="${blog}" method="post">
    <p>Title: <input type="text" th:field="*{title}" /></p>
    <p>Username: <input type="text" th:field="*{username}" /></p>
    <p>Content: <textarea type="text" th:field="*{content}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>

